<h1 align="center">Listing all Projects</h1>

<% @projects.each do |project| %>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="well well-lg">
        <div class="project-title">
          <%= link_to project.title, project_path(project) %>
          <label class="label author_labels">
            <%= if !can? :manage, @project
                  project.users.first.name
                end %>
          </label>
        </div>
        <div class="project-body">
          <%= truncate(project.description, length: 100) %>
        </div>
        <div class="project-actions">
          <%= link_to "Edit this Project", edit_project_path(project), class: "btn btn-xs btn-primary" %>
          <%= link_to "Delete this Project", project_path(project),
                      method: :delete, data: {confirm: "Are you sure?"},
                      class: "btn btn-xs btn-danger" %>
          <%= link_to "Manage Bugs for this Project", project_bugs_path(project), class: "btn btn-xs btn-warning" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
