<%= render 'shared/errors', obj: @bug %>
<div class="row">
  <div class="col-xs-12">
    <%= form_for([@bug.project, @bug], html: {class: "form-horizontal", role: "form"}) do |f| %>
      <hr>
      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= f.label :title %>
        </div>
        <div class="col-sm-8">
          <%= f.text_field :title, class: "form-control", placeholder: "Title of Bug", autofocus: true%>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :bug_type, class: 'control-label col-sm-2' %>
        <div class="col-sm-8">
          <%= f.select(:bug_type, options_for_select(["Feature", "Bug"], @bug.bug_type), {}, id: 'bug-type-field',class: "btn btn-secondary dropdown-toggle") %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :status, class: 'control-label col-sm-2' %>
        <div class="col-sm-8">
          <%= f.select(:status, options_for_select(["New", "Started"], @bug.status), {}, id: 'bug-type-field', class: "btn btn-secondary dropdown-toggle") %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :deadline, class: 'control-label col-sm-2', for: 'date' %>
        <div class="col-sm-8">
          <%= f.text_field :deadline, id: "deadline", class: "form-control", placeholder: "dd/mm/yyyy" %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <%= f.submit class: 'btn btn-primary btn-md' %>
        </div>
      </div>
    <% end %>
    <div class="col-xs-4 col-xs-offset-5">
      [ <%= link_to "Return to Bugs", project_bugs_path(@bug.project) %> ]
    </div>
  </div>
</div>
