<h1 align="center">Bugs for Project</h1>

<% @bugs.each do |bug| %>
  <div class="row">
    <div class="col-lg-12">
      <div class="well well-lg">
        <div class="bug-title">
          <%= link_to bug.title, [bug.project, bug] %>
          <label class="label author_labels"><%= bug.user.name %></label>
        </div>
        <div class="bug-type">
          <div class="form-group">
            <label class="control-label bug-lbls">Type</label>
            <text class=""><%= bug.bug_type %></text>
          </div>
        </div>
        <div class="bug-deadline">
          <div class="form-group">
            <label class="control-label bug-lbls">Deadline</label>
            <text class=""><%= bug.deadline %></text>
          </div>
        </div>
        <div class="bug-status">
          <div class="form-group">
            <label class="control-label bug-lbls">Status</label>
            <text class=""><%= bug.status %></text>
          </div>
        </div>
        <div class="bug-actions">
          <%= link_to "Edit this Bug", edit_project_bug_path(bug.project, bug), class: "btn btn-xs btn-primary" %>
          <%= link_to "Delete this Project", [bug.project, bug],
                      method: :delete, data: {confirm: "Are you sure?"},
                      class: "btn btn-xs btn-danger" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<%= link_to 'New Bug', new_project_bug_path,class: "btn btn-lg btn-primary" %>